#FreeroomsTitle {
    font-family: Josefin Sans, sans-serif;
    text-align: left;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0;
    padding-bottom: 0;
}

#FreeroomsBlurb {
    font-size: 1.5rem;
}

#FreeroomsCTA {
    width: 15rem;
    height: 3rem;
}

#FreeroomsCTA p {
    font-size: 1rem;
}

#FreeroomsCTA svg {
    width: 2rem;
}

#FreeroomsCTA:hover {
    cursor: pointer;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

#headerBranding {
    display: flex;
    justify-self: flex-start;
    margin-right: 2rem;
}

#SearchBox {
    width: 50%;
    margin: 10px;
    flex-shrink: 3;
}

#LandingScreenWhole {
    padding-bottom: 15vh;
    display: flex;
    flex-direction: row;
}

#headerButtons {
    display: flex;
    align-self: center;
}

#Home-Options {
    margin: 1rem 0;
}

#reset {
    color: "#f77f00";
}

#reset:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    #FreeroomsTitle {
        font-size: 4rem;
    }

    #FreeroomsBlurb {
        font-size: 1rem;
    }

    #FreeroomsCTA {
        width: 11rem;
        height: 2rem;
    }

    #FreeroomsCTA p {
        font-size: 0.75rem;
    }

    #FreeroomsCTA svg {
        width: 1.5rem;
    }

    #Home-Options {
        gap: 1rem;
        flex-wrap: wrap;
    }

    #SearchBox {
        margin: 0px;
        width: 100%;
        order: -1;
    }

    #LandingScreenWhole {
        padding-bottom: 40vh;
        flex-direction: column;
    }

    #landing-freerooms-logo {
        display: none;
    }
}