#FreeroomsTitle {
    font-family: Josefin Sans, sans-serif;
    text-align: left;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0;
    padding-bottom: 0;
}

#FreeroomsBlurb {
    font-size: 1.5rem;
}

#FreeroomsCTA {
    width: 15rem;
    height: 3rem;
}

#FreeroomsCTA p {
    font-size: 1rem;
}

#FreeroomsCTA svg {
    width: 2rem;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}

#headerBranding {
    display: flex;
    justify-self: flex-start;
    margin-right: 2rem;
}

#SearchBox {
    width: 40rem;
    margin: auto;
}

#LandingScreenWhole {
    padding-bottom: 15vh;
    display: flex;
    flex-direction: row;
}

#headerButtons {
    display: flex;
    align-self: center;
}

@media (min-width: 800px) {
    #headerSearch {
        display: flex;
        flex-direction: row;
    }
}

#Home-Options {
    margin: 1rem 0;
}

@media (max-width: 1050px) {
    #Home-Options {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 800px) {
    #Home-Building-Tiles {
        margin-top: 4rem;
    }

    #FreeroomsTitle {
        font-size: 4rem;
    }

    #FreeroomsBlurb {
        font-size: 1rem;
    }

    #FreeroomsCTA {
        width: 11rem;
        height: 2rem;
    }

    #FreeroomsCTA p {
        font-size: 0.75rem;
    }

    #FreeroomsCTA svg {
        width: 1.5rem;
    }

    #header {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    #headerBranding {
        margin: auto;
    }

    #headerSearch {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    #SearchBox {
        width: 70vw;
    }

    #LandingScreenWhole {
        padding-bottom: 40vh;
        flex-direction: column;
    }

    #landing-freerooms-logo {
        display: none;
    }
}