name: CI
on:
  push: {}

env:
  BRANCH_NAME: ${{ github.base_ref || github.ref_name }}

jobs:
  lint:
    name: "Lint (${{ matrix.component }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component: [frontend, backend]
        include:
          - component: frontend
            command: npm ci
          - component: backend
            command: npm ci
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - name: Install dependencies
        run: ${{ matrix.command }}
        working-directory: ${{ matrix.component }}
      - name: Lint
        run: npm run lint
        working-directory: ${{ matrix.component }}
  build-and-test:
    name: "Build and test (${{ matrix.component }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        component: [frontend, backend]
        include:
          - component: frontend
            command: npm ci
          - component: backend
            command: npm ci
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "24"
      - uses: actions/cache@v5
        with:
          path: |
            ~/.npm
            ${{ github.workspace }}/.next/cache
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-
      - name: Install dependencies
        run: ${{ matrix.command }}
        working-directory: ${{ matrix.component }}
      - name: Create staging .env file
        if: ${{ env.BRANCH_NAME == 'dev' && matrix.component == 'frontend' }}
        run: echo "NEXT_PUBLIC_STAGING=true" >> .env
        working-directory: frontend
      - name: Build
        run: npm run build
        working-directory: ${{ matrix.component }}
      - name: Test
        run: npm test
        working-directory: ${{ matrix.component }}
